{% extends "base.html" %}
{% block title %}
  MiReads - Find Children's Books For Multiple Intelligences Development
{% endblock %}
{% block head %}
{% endblock %}

{% block content %}
  <div class="row">
    <div class="large-12 columns">
      <h1><a href="/">MiReads</a></h1>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <ul class="breadcrumbs">
        <li class="current"><a href="#">Home</a></li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <ul>
        <li>Lingustic</li>
        <li>Analytic</li>
        <li>Interpersonal</li>
        <li>Intrapersonal</li>
        <li>Naturalist</li>
        <li>Right-minded</li>
        <li><a href="mylibrary.html">My Library</a></li>
      </ul>
    </div>
  </div>

{% endblock %}