{% extends "base.html" %}
{% block title %}
  MiReads - Find Children's Books For Multiple Intelligences Development
{% endblock %}
{% block head %}
{% endblock %}

{% block content %}
  <div class="row">
    <div class="large-12 columns">
      <h1><a href="/">MiReads</a></h1>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <ul class="breadcrumbs">
        <li><a href="index.html">Home</a></li>
        <li class="current"><a href="#">My Library</a></li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <ul>
        <li><a href="addbooks">Add Books</a></li>
        <li><a href="mylibrary">View My Library</a></li>
      </ul>
    </div>
  </div>
{% endblock %}

